transformers
tokenizers
pytorch-lightning
wandb
matplotlib
einops
pytest
torchaudio
soundfile  # support encoding audio data
librosa # To support decoding audio files
nltk
ffmpeg-python
opencv-python
